{% load staticfiles  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Express con Django</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="all">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all">
</head>
<body>
  <nav class="navbar navbar-inverse navbar fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bloggy</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <section class="col-md-8">
        {% block content %}{% endblock %}
      </section>
      <div class="col-md-4">
        <div class="well">
          <h4>Blog Search</h4>
          <div class="input-group">
            <input class="form-control" type="text">
            <span class="input-group-btn">
              <button class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
