{% extends 'blog/base.html' %}

{% block content  %}
  <h1 class="page-header">
    Entradas
    <small>Lo mejor sobre Django :)</small>
  </h1>
  <article class="post">
    <h2>
      <a href="#">Titulo de Entrada</a></h2>
      <p><span class="glyphicon glyphicon-time"></span> Fecha de Publicacion</p>
      <hr />
      <img class="img-responsive" src="http://placehold.it/900x300" alt="">
      <p>Contenido de Post</p>
      <a class="btn btn-primary" href="#">Leer mas... <span class="glyphicon glyphicon-chevron-right"></span></a>
    
  </article>

  <ul class="pager">
    <li class="previous">
      <a href="#">&larr; Anteriores</a>
     </li>
     <li class="next">
      <a href="#">Recientes &rarr;</a>
     </li>
  </ul>
{% endblock %}
